<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >

        <title>
            {% block title %}
                Emotional Awareness Application
            {% endblock %}
        </title>

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        >
    </head>

    <body>
        <header class="site-header">
            <nav class="navbar">
                <a class="logo" href="{{ url_for('home') }}">
                    SentimentCare
                </a>

                <div class="nav-links">
                    <a href="{{ url_for('home') }}">
                        Home
                    </a>

                    
                    <!--to make the navigation bar show different between logged in and logged out-->
                    {% if session.get("user_id") %}
                        <a href="{{ url_for('analysis') }}">
                            Analyse Text
                        </a>
                        <a href="{{ url_for('dashboard') }}">
                            Dashboard
                        </a>

                        <a href="{{ url_for('history') }}">
                            History 
                        </a>

                        <a href="{{ url_for('breathing') }}">
                            Breathing  
                        </a>

                        <a href="{{ url_for('reflect') }}">
                            Reflection
                        </a>

                        <span>
                            Hello, {{ session.get("username") }}
                        </span>

                        <a href="{{ url_for('logout') }}">
                            Logout
                        </a>
                    {% else %}
                        <a href="{{ url_for('login') }}">
                            Login
                        </a>

                        <a href="{{ url_for('register') }}">
                            Register
                        </a>
                    {% endif %}
                </div>
            </nav>
        </header>
        <!--display flashed messages(to provide feedback after a request, such as successful registration/invalid input)-->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-container">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <main class="page-content">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>