{% extends "base.html" %}

{% block title %}
    Sentiment History | SentimentCare
{% endblock %}

{% block content %}
    <section class="history-section">
        <h1>Sentiment History</h1>

        <p class="description">
            Review your previous sentiment analysis results.
        </p>

        <!--Check if there are any history records to display the "Clear All History" button-->
        {% if history_records %}
            <form
                action="{{ url_for('clear_history') }}"
                method="POST"
            >
                <button type="submit">
                    Clear All History
                </button>
            </form>
        {% endif %}
        
        <!--check whether the database returned any records-->
        {% if history_records %}
            <!--Loop through every saved result-->
            {% for record in history_records %}
                <article class="history-card">
                    <div class="history-card-header">
                        <strong>
                            {{ record.sentiment }}
                        </strong>

                        <span>
                            {{ record.confidence }}% confidence
                        </span>
                    </div>

                    <p class="history-text">
                        {{ record.input_text }}
                    </p>

                    <div class="history-probabilities">
                        <span>
                            Negative:
                            {{ record.negative_probability }}%
                        </span>

                        <span>
                            Neutral:
                            {{ record.neutral_probability }}%
                        </span>

                        <span>
                            Positive:
                            {{ record.positive_probability }}%
                        </span>
                    </div>

                    <small>
                        {{ record.created_at }}
                    </small>

                    <form
                        action="{{ url_for('delete_history_record', record_id=record.id) }}"
                        method="POST"
                    >
                        <button type="submit">
                            Delete
                        </button>
                    </form>
                </article>
            {% endfor %}
        {% else %}
            <p>
                You do not have any sentiment history yet.
            </p>
        {% endif %}
    </section>
{% endblock %}