{% extends "base.html" %}

{% block title %}
    Mood Journal
{% endblock %}

{% block content %}
<div class="page-container">
    <div class="content-card">
        <h1>Mood Journal</h1>

        <p>
            Write about your thoughts, experiences, or feelings from today.
        </p>

        <form method="POST">
            <label for="title">Title</label>
            <input
                type="text"
                id="title"
                name="title"
                maxlength="150"
                placeholder="Optional journal title"
            >

            <label for="mood">Mood</label>
            <select id="mood" name="mood">
                <option value="">Select a mood</option>
                <option value="Positive">Positive</option>
                <option value="Neutral">Neutral</option>
                <option value="Negative">Negative</option>
            </select>

            <label for="content">Journal entry</label>
            <textarea
                id="content"
                name="content"
                rows="8"
                required
                placeholder="Write your reflection here..."
            ></textarea>

            <button type="submit">Save Journal Entry</button>
            
        </form>

        {% if entries %}
            <div class="journal-list">
                <h2>Your Journal Entries</h2>

                <!--loop through all journal records that belong to the current user-->
                {% for entry in entries %}
                    <div class="journal-entry-card">
                        <h3>
                            {{ entry.title if entry.title else "Untitled Entry" }}
                        </h3>

                        {% if entry.mood %}
                            <p><strong>Mood:</strong> {{ entry.mood }}</p>
                        {% endif %}

                        <p>{{ entry.content }}</p>
                            
                        <!-- format the timestamp into "day month year, hour:minute AM/PM" -->
                        <small>
                            {{ entry.created_at.strftime("%d %b %Y, %I:%M %p") }}
                        </small>

                        <!-- Step 10.12: add edit journal entry-->
                        <a
                            href="{{ url_for('edit_journal_entry', entry_id=entry.id) }}"
                            class="edit-button"
                        >
                            Edit
                        </a>

                        <form
                            method="POST"
                            action="{{ url_for('delete_journal_entry', entry_id=entry.id) }}"
                        >
                            <button type="submit" class="delete_button">
                                Delete
                            </button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}